<div class="message-pane">

  <mat-card class="no-shadow">

    <mat-card-content>

      <div class="send-message">


      <div mat-card-avatar class="header-image"></div>

      <mat-card-subtitle class="user-message">Hi Prashant how r you ?</mat-card-subtitle>

      </div>

    </mat-card-content>

    <div class="clearfix"></div>

    <mat-card-content>

      <div class="received-message">

        <div mat-card-avatar class="header-image"></div>

        <mat-card-subtitle class="user-message">Hi Prashant how r you ?</mat-card-subtitle>

      </div>

    </mat-card-content>

    <div class="clearfix"></div>

    <mat-card-content>

      <div class="send-message">


        <div mat-card-avatar class="header-image"></div>

        <mat-card-subtitle class="user-message">Hi Prashant how r you ?</mat-card-subtitle>

      </div>

    </mat-card-content>

    <div class="clearfix"></div>

    <mat-card-content>

      <div class="received-message">

        <div mat-card-avatar class="header-image"></div>

        <mat-card-subtitle class="user-message">Hi Prashant how r you ?</mat-card-subtitle>

      </div>

    </mat-card-content>

    <div class="clearfix"></div>

  </mat-card>

</div>
