<div class="message-pane">

  <md-card class="no-shadow">

    <md-card-content>

      <div class="send-message">


      <div md-card-avatar class="header-image"></div>

      <md-card-subtitle class="user-message">Hi Prashant how r you ?</md-card-subtitle>

      </div>

    </md-card-content>

    <div class="clearfix"></div>

    <md-card-content>

      <div class="received-message">

        <div md-card-avatar class="header-image"></div>

        <md-card-subtitle class="user-message">Hi Prashant how r you ?</md-card-subtitle>

      </div>

    </md-card-content>

    <div class="clearfix"></div>

    <md-card-content>

      <div class="send-message">


        <div md-card-avatar class="header-image"></div>

        <md-card-subtitle class="user-message">Hi Prashant how r you ?</md-card-subtitle>

      </div>

    </md-card-content>

    <div class="clearfix"></div>

    <md-card-content>

      <div class="received-message">

        <div md-card-avatar class="header-image"></div>

        <md-card-subtitle class="user-message">Hi Prashant how r you ?</md-card-subtitle>

      </div>

    </md-card-content>

    <div class="clearfix"></div>

  </md-card>

</div>
