$grey : #CCCCCC;
$white : #FFFFFF;
$black : #000000;
$green : #00cc00;

.black-tile-layer {
  background: $black;
}
.friend-list {
  padding:10px 0;
  ul {
    list-style: none;
    padding: 0;
    li {
      border-bottom: 1px dotted $grey;
      padding:10px 0;
      display: block;
      cursor: pointer;
    }
  }
}
.white-bg{
  background: $white;
}

.friend-details
{
  display: block;
  height: 50px;
}
.message-panel
{
  display: block;
  height:500px;
  overflow-y: auto;
  border: 1px solid $grey;
}
.chat-form-panel
{
  padding:20px 0 0 0;
}

.profile-pic {
  background: $grey;
  border-radius: 100%;
  padding: 22px;
}
.sm-hidden{
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.xs-hidden{
  @media screen and (max-width: 320px) {
    display: none;
  }
}
