<md-toolbar color="primary">
  <span>WebChat</span>
  <span class="spacer"></span>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>Logout</span>
    </button>
    <button md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>My profile</span>
    </button>
  </md-menu>
</md-toolbar>

<md-tab-group>

  <md-tab>

    <ng-template md-tab-label>

      <i class="material-icons">chat</i>

    </ng-template>

    <app-message-list></app-message-list>

  </md-tab>

  <md-tab>

    <ng-template md-tab-label>

      <i class="material-icons">account_circle</i>

    </ng-template>

    <app-friend-list [getMessage]="chatDetail"></app-friend-list>

  </md-tab>

  <md-tab>

    <ng-template md-tab-label>

      <i class="material-icons">search</i>

    </ng-template>

    <app-search-user></app-search-user>

  </md-tab>

  <md-tab>



    <ng-template md-tab-label>

      <i class="material-icons">supervisor_account</i>

      <span class="counter">

        <app-friend-list-counter></app-friend-list-counter>

      </span>

    </ng-template>

    <app-friend-request-list></app-friend-request-list>

  </md-tab>


</md-tab-group>
