<mat-toolbar color="primary">
  <span>WebChat</span>
</mat-toolbar>
<div class="login-module">
  <div class="row">
      <div class="col-lg-4 col-xs-12">
        <mat-card>
          <mat-card-title>
            Free Chat Rooms, Chat Online
          </mat-card-title>
          <mat-card-content>
            <p>
              This web site is an online free chat rooms.
              With us you can meet new friends from all over the world.
              No download and no setup needed.
            </p>
            <p>
              Meet new single women and men everyday without limits, make friendships,
              for free you can have a live discussion now
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-6 col-xs-12">
        <div class="panel">
          <div class="panel-heading"><h1>User Login</h1></div>
          <div class="panel-body">
            <form [formGroup]="loginform" (ngSubmit)="uerLogin(loginform.value)">
              <div class="form-group">
                <label class="sr-only">Enter User ID</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Enter User ID</div>
                  </div>
                  <input class="form-control"
                         formControlName="userName"
                         type="text"
                         placeholder="Enter email address"/>
                </div>
                <div class="alert"
                     *ngIf="!loginform.controls['userName'].valid && loginform.controls['userName'].touched">
                  {{ userNameAlert }}
                </div>
              </div>
              <div class="form-group">
                <label class="sr-only">Password</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Password</div>
                  </div>
                  <input class="form-control"
                         formControlName="userPassword"
                         type="password"
                         placeholder="Enter your password"/>
                </div>
                <div class="alert" *ngIf="!loginform.controls['userPassword'].valid && loginform.controls['userPassword'].touched">
                  {{ pwdAlert }}
                </div>
              </div>
              <div class="row form-group">
                <div class="col-4">
                  <a href="/forgot-password">
                    Forgot Password?
                  </a>
                </div>
                <div class="col-4">
                  <button class="btn btn-primary btn-lg btn-block"
                          [disabled]="!loginform.valid"
                          type="submit">
                    Login <i class="fa fa-sign-in"></i>
                  </button>
                </div>
              </div>
              <div class="text-center">
                <hr />
                <p class="or"><span>or</span></p>
                <a href="/register">
                  Register yourself!
                </a>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>
</div>
<mat-card class="m-t-20">
  <mat-card-content>
    <p>Webchat is a free chat room website where you can have live chat with single men and women,
      you can discuss with random strangers from USA, Canada, United Kingdom, Australia, India and people
      from all over the world, at the same time in multiple chatrooms and discussion groups,
      any time you can start a private conversation to meet girls and boys living nearby in your area.</p>
  </mat-card-content>
</mat-card>


