.col-centered {
  margin: 0 auto;
}
.login-module {
  background: #FFFFFF;
  padding: 20px 0;
  height: 100%;
}
.panel {
  border:1px solid #CCCCCC;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #FFFFFF;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px #CCC;
  .panel-heading {
    background: #673ab7;
    padding: 15px;
    border-bottom: 1px solid #CCCCCC;
    h1 {
      display: block;
      text-align: left;
      font: 500 20px/23px Roboto,"Helvetica Neue",sans-serif;
      text-shadow: 2px 2px 5px #000;
      color: #FFFFFF;
    }
  }
  .panel-body {
    padding:25px;
    @media screen and (max-width: 723px) {
      padding:10px
    }
    label {
      font: 500 15px/23px Roboto,"Helvetica Neue",sans-serif;
    }
    input {
      border-radius: 0px;
    }
    .or {
      position: absolute;
      margin-top: -30px;
      text-align: center;
      width: 100%;
      span {
        display: inline-block;
        background: #FFF;
        width: 50px;
        text-align: center;
      }
    }
    .alert {
      padding: 0 !important;
      color: #fc2c00;
      border-radius: 0px;
      background: #FFF;
      text-align: right;
      font-weight: bold;
      font: 500 15px/23px Roboto,"Helvetica Neue",sans-serif;
    }
  }
  .panel-footer {
    padding: 0 50px;
    @media screen and (max-width: 723px) {
      padding:10px
    }
  }
}
