<div *ngIf="(friendInfo.friendStatus === 'Pending') && (myUserId !== friendInfo.senderId); then acceptBlock else pendingBlock">
</div>
<ng-template #acceptBlock>
  <p>Please Accept or reject the friend request</p>
  <button mat-raised-button
    (click)="confirmRequest()"
    type="button">
    CONFIRM
  </button>
  <button mat-raised-button
    (click)="denyRequest()"
    type="button">
    Deny
  </button>
</ng-template>
<ng-template #pendingBlock>
  <p>Your request has not yet accepted.</p>
</ng-template>
