<div *ngIf="!friendInfo.isFriend && friendInfo.status !== 'Pending'">
  <div *ngIf="friendInfo.gender ==='Male'; then maleBlock else femaleBlock"></div>
  <ng-template #maleBlock>
    <p>He is not in your friend list. Send him request.</p>
  </ng-template>
  <ng-template #femaleBlock>
    <p>She is not in your friend list. Send her request.</p>
  </ng-template>

  <button
    mat-raised-button
    type="button"
    (click)="sendFriendRequest()">
    ADD ON MESSENGER
  </button>
</div>

<div *ngIf="sentRequest">
  Your request is sent successfully
</div>

