<app-header></app-header>
<mat-card class="user-chat-pane" *ngIf="friendInfo">
  <mat-card-content>
    <mat-card-header>
      <div mat-card-avatar
           class="header-image">
      </div>
      <mat-card-title>
        {{friendInfo.fName}} {{friendInfo.lName}}
      </mat-card-title>
      <p></p>
      <mat-card-subtitle *ngIf="isOnline(); then onlineBlock else offLineBlock">
      </mat-card-subtitle>
      <ng-template #onlineBlock>
        <span class="user-indicator online"></span>
        <span class="indicator-text">
          Online
        </span>
      </ng-template>
      <ng-template #offLineBlock>
        <span class="user-indicator offline"></span>
        <span class="indicator-text">
          Offline
        </span>
      </ng-template>
    </mat-card-header>
    <mat-card-content>

      <app-add-friend [actionObj]="friendInfo"></app-add-friend>
      <app-request-action [actionObj]="friendInfo"></app-request-action>
      <hr />
      <div class="chat-pane">
        <div *ngFor="let chat of conversations">
            <div class="sent text-right" *ngIf="myUserId === chat.sentBy">
              <b>  Me:</b> {{chat.message}}
            </div>
            <div class="received" *ngIf="myUserId !== chat.sentBy">
              <b> {{friendInfo.fName}}:</b> {{chat.message}}
            </div>
        </div>
      </div>
      <div class="send-message-pane">
        <p class="typingStatus"
           *ngIf="typeResponse">
          {{friendInfo.fName}} is typing
        </p>
        <form [formGroup]="messageForm"
              (ngSubmit)="sendMessage(messageForm.value)">
          <input class="form-control type-pane"
                 type="text"
                 (keydown)="userTyping(true)"
                 (blur)="userTyping(false)"
                 formControlName="chatMessage"
                />
          <button mat-raised-button
                  type="submit"
                  class="send-message">
            <i class="material-icons">
              send
            </i>
          </button>
        </form>
        <div class="emoji">
          <button>
            <i class="fa fa-smile-o"
               aria-hidden="true">
            </i>
          </button>
          <button>
            <i class="fa fa-picture-o"
               aria-hidden="true">
            </i>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card-content>
</mat-card>
