<app-header></app-header>
<mat-card *ngFor="let item of getUserList">

  <mat-card-content class="user-list" (click)="userDetailOpenDialog(item)">

    <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>

    <span class='indicator' [ngClass]="{'online' : item.isOnline}"></span>

    <span>{{item.name}}</span>

    <div *ngIf="item.latestConversation.requestType == 'recieved'; then recievedBlock else sentBlock"></div>

    <ng-template #recievedBlock>

      <p class="latestMsg">{{item.latestConversation.message}}</p>

    </ng-template>

    <ng-template #sentBlock>

      <p class="latestMsg youTag">

        {{item.latestConversation.message}}

      </p>

    </ng-template>

  </mat-card-content>

</mat-card>
