@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background: $purple !important;
  overflow-x: hidden;
}

.chatApp {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  .spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .width-100 {
    width: 100%;
  }

  .m-t-2-percentage {
    margin-top: 2%;
  }
  .m-t-4-percentage {
    margin-top: 4%;
  }
  .m-t-6-percentage {
    margin-top: 6%;
  }
  .m-t-8-percentage {
    margin-top: 8%;
  }
  .m-t-10-percentage {
    margin-top: 10%;
  }
  .m-t-12-percentage {
    margin-top: 12%;
  }
  .m-t-20 {
    margin-top: 20px;
  }

  .p-r-20 {
    padding-right: 20px;
  }

  .p-all-25 {
    padding: 25px;
  }
  .radio-inline {
    position: relative;
    margin-left:20px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    input {
      margin-right:10px
    }
    &:first-child {
      margin-left:0;
    }
  }

  .font-v-small {
    font-size: 0.75rem;
  }

  .alert {
    font-size: 0.75rem;
    background: #fc2c00;
    color: $white;
  }
  .no-shadow {
    box-shadow: none !important;
  }
  .input-group-prepend {
    background: #673ab7;
    padding: 5px 15px;
    border-radius: 3px 0 0 3px;
    color: #FFF;
    font: 500 13px/23px Roboto,"Helvetica Neue",sans-serif;
    min-width: 107px;
    text-shadow: 1px 1px 5px #000;
  }
  button {
    font: 500 16px/23px Roboto,"Helvetica Neue",sans-serif;
    background: #673ab7;
  }
  a {
    color: #673ab7;
    font: 500 13px/23px Roboto,"Helvetica Neue",sans-serif;
  }
}
